---
layout: default
page-specific-stylesheets:
    - /résumé.css
---

<section class="hero gradient-background   flex-column flex-vert-center">
    <div class="sticky-top title-holder">
        <h1 class="title-text">{{ site.author.name }}</h1>
        <h2 class="subtitle-text">{{ site.author.tagline-html }}</h2>
    </div>
</section>


<article>
    <header class="tldr   flex-column flex-horiz-stretch flex-vert-center">
        <p>{{ site.description }}</p>
    </header>

    <ul class="contact-list   flex-row flex-horiz-space-around flex-vert-center flex-wrap">
        {% if site.author.social.email %}
        {% assign split_email = site.author.social.email | split: "@" %}
        {% assign wbr_email = split_email | join: "<wbr />@" %}
        <li class="contact-list-item"><a href="mailto:{{ site.author.social.email }}?subject=Your%20Résumé" class="low-emphasis big button"><i class="material-icons">email</i><span>{{ wbr_email }}</span></a></li>
        {% endif %}
        {% if site.author.social.phone %}
        <li class="contact-list-item"><a href="tel:{{ site.author.social.phone.just-numbers }}" class="low-emphasis big button"><span>{{ site.author.social.phone.display-html }}{% if site.author.social.phone.disambiguation %} <small>({{ site.author.social.phone.disambiguation }})</small>{% endif %}</span></a></li>
        {% endif %}
    </ul>

    <div class="flex-row flex-wrap has-sidebar">
        <main style="transform: translate3d(0,0,0) !important">
            <section class="content">
                <h1>Em&shy;ploy&shy;ment</h1>
                <figure class="infobox infobox-with-dynamic-layout   flex-row flex-vert-center flex-horiz-space-around flex-wrap">
                    <a class="infobox-subject" href="https://MotifPhotos.com" target="_blank" style="background-image: url('./img/Motif-white-logo.svg')" data-required-theme-type="dark"></a>
                    <a class="infobox-subject" href="https://MotifPhotos.com" target="_blank" style="background-image: url('./img/Motif-dark-grey-logo.svg')" data-required-theme-type="light"></a>
                    <figcaption class="infobox-info">
                        <h2>RR Don&shy;nel&shy;ley &mdash; Mo&shy;tif <small>(Contract from <time datetime="2019-07-01">July 2019</time> – <time datetime="2019-10-31">October 2019</time>)</small></h2>
                        <h3>mac&shy;OS Soft&shy;ware Ar&shy;chi&shy;tect</h3>
                        <p>Defined the future <strong>architecture</strong> for the leading photo book software on <strong>macOS</strong>. Instituted <strong>standard practices</strong> across teams to bring development in-house and improve turnaround.</p>
                        <p>Worked back-and-forth with UI/UX leads to ensure a <strong>smooth and intuitive</strong> transition between operating system versions.</p>
                    </figcaption>
                </figure>
                <figure class="infobox infobox-with-dynamic-layout   flex-row flex-vert-center flex-horiz-space-around flex-wrap">
                    <a class="infobox-subject" href="https://Ionic.com" target="_blank" style="background-image: url('./img/IONIC-white-logo.svg')" data-required-theme-type="dark"></a>
                    <a class="infobox-subject" href="https://Ionic.com" target="_blank" style="background-image: url('./img/IONIC-dark-grey-logo.svg')" data-required-theme-type="light"></a>
                    <figcaption class="infobox-info">
                        <h2>Ion&shy;ic Se&shy;cu&shy;ri&shy;ty <small>(<time datetime="2017-03-27">2017</time> – <time datetime="2019-06-28">2019</time>)</small></h2>
                        <h3>mac&shy;OS Soft&shy;ware En&shy;gi&shy;neer</h3>
                        <p>Engineered <strong>user-facing</strong> file <strong>encryption</strong> and access software for macOS. Collaborated on a company-wide <strong>software platform</strong> to allow such client software to be made consistent on many other platforms, including <strong>macOS, Android, Windows, and iOS</strong>.</p>
                        <p>Worked closely with UI/UX team to hone the design of multiple company products, including <strong>graphics</strong>, <strong>animations</strong>, user <strong>flows</strong>, and overall <strong>experience</strong>.</p>
                    </figcaption>
                </figure>
                <figure class="infobox infobox-with-dynamic-layout   flex-row flex-vert-center flex-horiz-space-around flex-wrap">
                    <a class="infobox-subject" href="https://RenewedVision.com" target="_blank" style="background-image: url('./img/Renewed-Vision-logo-icon.png')"></a>
                    <figcaption class="infobox-info">
                        <h2>Re&shy;newed Vi&shy;sion <small>(<time datetime="2016-07-14">2016</time> – <time datetime="2017-01-16">2017</time>)</small></h2>
                        <h3>mac&shy;OS Soft&shy;ware En&shy;gi&shy;neer</h3>
                        <p>Built industry-leading <strong>professional presentation</strong> software for <strong>macOS</strong>. Collaboratively created <strong>software platforms</strong> with <strong>open-source &amp; proprietary</strong> tech: advanced <strong>auto font scaling</strong>, <strong>inspector</strong>, &amp; animated grid item selector.</p>
                        <p>Designed dozens of <strong>icons</strong> &amp; other graphics, <strong>user flows</strong>, interface approaches, <strong>animations</strong>, and more.</p>
                    </figcaption>
                </figure>
                <figure class="infobox infobox-with-dynamic-layout   flex-row flex-vert-center flex-horiz-space-around flex-wrap">
                    <a class="infobox-subject" href="https://NCRSilver.com" target="_blank" style="background-image: url('./img/NCR-logo.svg')"></a>
                    <figcaption class="infobox-info">
                        <h2>NCR &mdash; Small &amp; Medi&shy;um Busi&shy;ness <small>(<time datetime="2015-01-19">2015</time> – <time datetime="2016-06-06">2016</time>)</small></h2>
                        <h3>Mo&shy;bile Soft&shy;ware En&shy;gi&shy;neer</h3>
                        <p>Built state-of-the-art <strong>point-of-sale</strong> software for <strong>iOS &amp; Android</strong>. Implemented headlining features such as <strong>64-bit</strong> support, <strong>EMV</strong> payments, <strong>scale-weighing</strong> of items, &amp; <strong>future orders</strong>, including any hardware drivers necessary for these.</p>
                        <p>Worked alongside UI design team to <strong>revamp</strong> the system's <strong>look-and-feel</strong>.</p>
                    </figcaption>
                </figure>
                <figure class="infobox infobox-with-dynamic-layout   flex-row flex-vert-center flex-horiz-space-around flex-wrap">
                    <a class="infobox-subject" href="https://ColumbusState.edu" target="_blank" style="background-image: url('./img/CSU_Logo_Tower_BlueBackground.svg')" data-required-theme-type="dark"></a>
                    <a class="infobox-subject" href="https://ColumbusState.edu" target="_blank" style="background-image: url('./img/CSU_Logo_Tower_WhiteBackground.svg')" data-required-theme-type="light"></a>
                    <figcaption class="infobox-info">
                        <h2>Uni&shy;ver&shy;si&shy;ty Sys&shy;tem of Geor&shy;gia &mdash; In&shy;for&shy;ma&shy;tion Tech&shy;nol&shy;o&shy;gy Ser&shy;vices <small>(<time datetime="2012-09-19">2012</time> – <time datetime="2014-02-17">2014</time>)</small></h2>
                        <h3>Web De&shy;vel&shy;op&shy;er &amp; De&shy;sign&shy;er</h3>
                        <p>Redesigned &amp; rebuilt <strong><a href="https://ColumbusState.edu" target="_blank">ColumbusState.edu</a></strong> and dozens of sub-sites in <strong>HTML5+CSS3</strong>, with <strong>XSLT &amp; PHP</strong> where needed. Made <strong>templates for CMS</strong> so teachers could build pages.</p>
                        <p>Invented, critiqued, and <strong>evolved design elements</strong> for CSU website. Designed pages for all schools of the University within a <strong>consistent theme</strong>.</p>
                    </figcaption>
                </figure>
            </section>

            <section class="content">
                <h1>Edu&shy;ca&shy;tion</h1>
                <figure class="infobox infobox-with-dynamic-layout   flex-row flex-vert-center flex-horiz-space-around flex-wrap">
                    <a class="infobox-subject" href="https://ColumbusState.edu" target="_blank" style="background-image: url('./img/CSU_Logo_Tower_BlueBackground.svg')" data-required-theme-type="dark"></a>
                    <a class="infobox-subject" href="https://ColumbusState.edu" target="_blank" style="background-image: url('./img/CSU_Logo_Tower_WhiteBackground.svg')" data-required-theme-type="light"></a>
                    <figcaption class="infobox-info">
                        <h2>Columbus State University <small>(<time datetime="2014-05-12">2014</time>)</small></h2>
                        <h3>Bachelor of Science in Computer Science</h3>
                    </figcaption>
                </figure>
            </section>
        </main>

        <section class="sidebar-right">
            <section class="content specs">
                <h1>Tech Specs</h1>
                <dl class="spec-list   flex-row flex-wrap flex-horiz-space-around">
                    <div>
                        <dt><h2>Swift</h2></dt>
                            <dd><span class="spec-bars" data-proficiency-out-of-10="10"></span></dd>
                    </div>
                    <div>
                        <dt><h2>Kotlin</h2></dt>
                            <dd><span class="spec-bars" data-proficiency-out-of-10="9"></span></dd>
                    </div>
                    <div>
                        <dt><h2>HTML 5</h2></dt>
                            <dd><span class="spec-bars" data-proficiency-out-of-10="9"></span></dd>
                    </div>
                    <div>
                        <dt><h2>CSS 4</h2></dt>
                            <dd><span class="spec-bars" data-proficiency-out-of-10="10"></span></dd>
                    </div>
                    <div>
                        <dt><h2>Sass</h2></dt>
                            <dd><span class="spec-bars" data-proficiency-out-of-10="8"></span></dd>
                    </div>
                    <!--div>
                        <dt><h2>Node</h2></dt>
                            <dd><span class="spec-bars" data-proficiency-out-of-10="4"></span></dd>
                    </div-->
                </dl>

                <dl class="spec-list   flex-row flex-wrap flex-horiz-space-around">
                    <div>
                        <dt><h2>macOS</h2></dt>
                            <dd><span class="spec-bars" data-proficiency-out-of-10="9"></span></dd>
                    </div>
                    <div>
                        <dt><h2>iOS</h2></dt>
                            <dd><span class="spec-bars" data-proficiency-out-of-10="8"></span></dd>
                    </div>
                    <div>
                        <dt><h2>Android</h2></dt>
                            <dd><span class="spec-bars" data-proficiency-out-of-10="7"></span></dd>
                    </div>
                    <div>
                        <dt><h2>JVM</h2></dt>
                            <dd><span class="spec-bars" data-proficiency-out-of-10="9"></span></dd>
                    </div>
                    <div>
                        <dt><h2>Web &ndash; front</h2></dt>
                            <dd><span class="spec-bars" data-proficiency-out-of-10="10"></span></dd>
                    </div>
                    <div>
                        <dt><h2>Web &ndash; back</h2></dt>
                            <dd><span class="spec-bars" data-proficiency-out-of-10="7"></span></dd>
                    </div>
                </dl>

                <dl class="spec-list   flex-row flex-wrap flex-horiz-space-around">
                    <div>
                        <dt><h2>Multithreading</h2></dt>
                            <dd><span class="spec-bars" data-proficiency-out-of-10="8"></span></dd>
                    </div>
                    <div>
                        <dt><h2>Networking</h2></dt>
                            <dd><span class="spec-bars" data-proficiency-out-of-10="8"></span></dd>
                    </div>
                    <div>
                        <dt><h2>Git</h2></dt>
                            <dd><span class="spec-bars" data-proficiency-out-of-10="10"></span></dd>
                    </div>
                    <div>
                        <dt><h2>Open-Source</h2></dt>
                            <dd><span class="spec-bars" data-proficiency-out-of-10="8"></span></dd>
                    </div>
                    <div>
                        <dt><h2>Architecture</h2></dt>
                            <dd><span class="spec-bars" data-proficiency-out-of-10="8"></span></dd>
                    </div>
                    <div>
                        <dt><h2>Agile</h2></dt>
                            <dd><span class="spec-bars" data-proficiency-out-of-10="9"></span></dd>
                    </div>
                </dl>

                <dl class="spec-list   flex-row flex-wrap flex-horiz-space-around">
                    <div>
                        <dt><h2>Learning New Skills</h2></dt>
                            <dd><span class="spec-bars" data-proficiency-out-of-10="10"></span></dd>
                    </div>
                </dl>
            </section>



            <section class="content specs">
                <h1>De&shy;sign</h1>
                <dl class="spec-list   flex-row flex-wrap flex-horiz-space-around">
                    <div>
                        <dt><h2>UI/UX</h2></dt>
                            <dd><span class="spec-bars" data-proficiency-out-of-10="9"></span></dd>
                    </div>
                    <div>
                        <dt><h2>Icons</h2></dt>
                            <dd><span class="spec-bars" data-proficiency-out-of-10="10"></span></dd>
                    </div>
                    <div>
                        <dt><h2>Web</h2></dt>
                            <dd><span class="spec-bars" data-proficiency-out-of-10="10"></span></dd>
                    </div>
                    <div>
                        <dt><h2>Print</h2></dt>
                            <dd><span class="spec-bars" data-proficiency-out-of-10="8"></span></dd>
                    </div>
                    <div>
                        <dt><h2>Logos</h2></dt>
                            <dd><span class="spec-bars" data-proficiency-out-of-10="6"></span></dd>
                    </div>
                </dl>

                <dl class="spec-list   flex-row flex-wrap flex-horiz-space-around">
                    <div>
                        <dt><h2>Sketch</h2></dt>
                            <dd><span class="spec-bars" data-proficiency-out-of-10="9"></span></dd>
                    </div>
                    <div>
                        <dt><h2>Inkscape</h2></dt>
                            <dd><span class="spec-bars" data-proficiency-out-of-10="10"></span></dd>
                    </div>
                    <div>
                        <dt><h2>Gravit</h2></dt>
                            <dd><span class="spec-bars" data-proficiency-out-of-10="7"></span></dd>
                    </div>
                </dl>
            </section>
        </section>
    </div>
</article>



<footer class="centered  widest-desktop-small">
    <section class="centered flex-row flex-wrap flex-horiz-space-around hide-print">
        {% if site.document.pdf %}
        <a href="{{ site.document.directory }}/{{ site.document.pdf.prefix }}{{ site.date.newest.pdf }}.pdf" class="big button">
            <i class="fa fa-download"></i>
            <span>Download as PDF</span>
        </a>
        {% endif %}{% if site.author.social.linkedin-username %}
        <a href="https://LinkedIn.com/in/{{ site.author.social.linkedin-username }}" target="_blank" class="big button">
            <i class="fab fa-linkedin"></i>
            <span>View LinkedIn</span>
        </a>
        {% endif %}
    </section>

    <section class="hide-print flex-row flex-wrap flex-horiz-space-around font-1-1hx">
        {% if site.author.social.calendar %}
        <a href="{{ site.author.social.calendar }}" class="button medium-emphasis"><i class="fa fa-calendar"></i> <span>Calendar</span></a>
        {% endif %}
        <a href="/Portfolio" class="button medium-emphasis"><i class="fa fa-th"></i> <span>Portfolio</span></a>
        {% if site.author.social.stackoverflow-suffix %}
        <a href="https://stackoverflow.com/{{ site.author.social.stackoverflow-suffix }}" target="_blank" class="button medium-emphasis"><i class="fab fa-stack-overflow"></i> <span>StackOverflow</span></a>
        {% endif %}
        <section class="flex-row flex-wrap flex-horiz-space-around">
            {% if site.author.social.github-suffix.personal %}
            <a href="https://github.com/{{ site.author.social.github-suffix.personal }}" target="_blank" class="button medium-emphasis"><i class="fab fa-github"></i> <span>GitHub <small>(Personal)</small></span></a>
            {% endif %}
            {% if site.author.social.github-suffix.big-projects %}
            <a href="https://github.com/{{ site.author.social.github-suffix.big-projects }}" target="_blank" class="button medium-emphasis"><i class="fab fa-github"></i> <span>GitHub <small>(Big Projects)</small></span></a>
            {% endif %}
            {% if site.author.social.github-suffix.utilities %}
            <a href="https://github.com/{{ site.author.social.github-suffix.utilities }}" target="_blank" class="button medium-emphasis"><i class="fab fa-github"></i> <span>GitHub <small>(Utilities)</small></span></a>
            {% endif %}
        </section>
    </section>

    <section class="hide-print flex-row flex-wrap flex-horiz-space-around font-1-1hx">
        {% if site.author.social.blog %}
        <a href="{{ site.author.social.blog }}" target="_blank" class="button low-emphasis"><i class="fas fa-blog"></i> <span>Blog</span></a>
        {% endif %}
        {% if site.author.social.mastodon %}
        <a href="{{ site.author.social.mastodon }}" target="_blank" class="button low-emphasis"><i class="fab fa-mastodon"></i> <span>Mastodon</span></a>
        {% endif %}
        {% if site.author.social.twitter-username %}
        <a href="https://Twitter.com/{{ site.author.social.twitter-username }}" target="_blank" class="button low-emphasis"><i class="fab fa-twitter-square"></i> <span>Twitter</span></a>
        {% endif %}
    </section>

    <ul class="contact-list   flex-row flex-horiz-space-around flex-vert-center flex-wrap">
        {% if wbr_email %}
        <li class="contact-list-item"><a href="mailto:{{ site.author.social.email }}?subject=Your%20Résumé" class="low-emphasis big button"><i class="material-icons">email</i><span>{{ wbr_email }}</span></a></li>
        {% endif %}
        {% if site.author.social.phone %}
        <li class="contact-list-item"><a href="tel:{{ site.author.social.phone.just-numbers }}" class="low-emphasis big button"><span>{{ site.author.social.phone.display-html }}{% if site.author.social.phone.disambiguation %} <small>({{ site.author.social.phone.disambiguation }})</small>{% endif %}</span></a></li>
        {% endif %}
    </ul>

    <section class="show-print text-centered">
        {{ site.url }}
    </section>

    <aside class="text-center">
        <!-- also update article:modified_time meta -->
        Last updated <time datetime="{{ site.date.newest.web }}">{{ site.date.newest.web }}</time><span class="hide-print">
        {% if site.document.txt %}
        —
        <a href="{{ site.document.directory }}/{{ site.document.txt.prefix }}{{ site.date.newest.txt }}.txt" title="Text-only version"><i class="far fa-file-alt"></i> Text-only version</a></span>
        {% endif %}
    </aside>
</footer>
