---
layout: default
page-specific-stylesheets:
    - /Portfolio.css
title: Ben Leggiero's Portfolio
---
<main>
    <section>
        <h1 id="big-projects">Big Projects</h1>

        <ol class="portfolio-cards   flex-row flex-wrap flex-horiz-space-around">
            <li>
                <a href="https://MotifPhotos.com" target="_blank" class="portfolio-card   big low-emphasis button">
                    <figure>
                        <img src="/img/Motif-icon.svg" class="portfolio-card-thumbnail" />

                        <figcaption class="portfolio-card-text">
                            <h2 class="portfolio-card-title">Motif for macOS</h2>
                            <p class="portfolio-card-description">Custom photo books, calendars, and cards right in Apple Photos</p>
                        </figcaption>
                    </figure>
                </a>
            </li>
            <li>
                <a href="https://Ionic.com/files/" target="_blank" class="portfolio-card   big low-emphasis button">
                    <figure>
                        <img src="/img/Ionic Files icon.png" class="portfolio-card-thumbnail" />

                        <figcaption class="portfolio-card-text">
                            <h2 class="portfolio-card-title">Ionic Files for macOS</h2>
                            <p class="portfolio-card-description">User-facing desktop file protection software for macOS</p>
                        </figcaption>
                    </figure>
                </a>
            </li>
            <li>
                <a href="https://RenewedVision.com/ProPresenter/" target="_blank" class="portfolio-card   big low-emphasis button">
                    <figure>
                        <img src="/img/ProPresenter icon.png" class="portfolio-card-thumbnail" />

                        <figcaption class="portfolio-card-text">
                            <h2 class="portfolio-card-title">ProPresenter</h2>
                            <p class="portfolio-card-description">Live video presentation and compositing software</p>
                        </figcaption>
                    </figure>
                </a>
            </li>
            <li>
                <a href="https://RenewedVision.com/ProVideoPlayer/" target="_blank" class="portfolio-card   big low-emphasis button">
                    <figure>
                        <img src="/img/PVP3.png" class="portfolio-card-thumbnail" />

                        <figcaption class="portfolio-card-text">
                            <h2 class="portfolio-card-title">PVP 3</h2>
                            <p class="portfolio-card-description">Elegant and powerful video streaming software for statium-tier events</p>
                        </figcaption>
                    </figure>
                </a>
            </li>
            <li>
                <a href="https://NCRSilver.com" target="_blank" class="portfolio-card   big low-emphasis button">
                    <figure>
                        <img src="/img/NCR Silver logo.png" class="portfolio-card-thumbnail" />

                        <figcaption class="portfolio-card-text">
                            <h2 class="portfolio-card-title">NCR Silver</h2>
                            <p class="portfolio-card-description">Point-of-sale software supporting mobile payments, sales reporting, loyalty rewards, business management, and more</p>
                        </figcaption>
                    </figure>
                </a>
            </li>
            <li>
                <a href="https://ColumbusState.edu" target="_blank" class="portfolio-card   big low-emphasis button">
                    <figure>
                        <img src="/img/ColumbusState.edu screenshot.png" class="portfolio-card-thumbnail" />

                        <figcaption class="portfolio-card-text">
                            <h2 class="portfolio-card-title">The Columbus State University website</h2>
                            <p class="portfolio-card-description">Over 100 specialized sites in one modern, responsive design that maintains compatibility with IE 8 through the latest Chrome. CMS integration allows school employees to maintain their own sub-sites</p>
                        </figcaption>
                    </figure>
                </a>
            </li>
        </ol>
    </section>



    <section>
        <h1 id="big-personal-projects">Big Personal Projects</h1>

        <ol class="portfolio-cards   flex-row flex-wrap flex-horiz-space-around">
            <li>
                <a href="https://GitHub.com/BenLeggiero/resumes" target="_blank" class="portfolio-card   big low-emphasis button">
                    <figure>
                        <img src="/img/Social-Preview.png" class="portfolio-card-thumbnail" />

                        <figcaption class="portfolio-card-text">
                            <h2 class="portfolio-card-title">This Website</h2>
                            <p class="portfolio-card-description">I wrote all the code and designed all the UI on this site from scratch, without templates.</p>
                        </figcaption>
                    </figure>
                </a>
            </li>
            <li>
                <a href="https://Rent-Split.BHStudios.org" target="_blank" class="portfolio-card   big low-emphasis button">
                    <figure>
                        <img src="https://Rent-Split.BHStudios.org/_img/Logo%201.1.0%20(1024p).png" class="portfolio-card-thumbnail" />

                        <figcaption class="portfolio-card-text">
                            <h2 class="portfolio-card-title">Rent-Split</h2>
                            <p class="portfolio-card-description">Calculates how to split rent fairly based on income</p>
                        </figcaption>
                    </figure>
                </a>
            </li>
            <li>
                <a href="https://GitHub.com/BlueHuskyStudios/Blue-Husky-Software-Platform" target="_blank" class="portfolio-card   big low-emphasis button" style="--button-border-radius: 1em;">
                    <figure>
                        <img src="https://bluehuskystudios.github.io/Blue-Husky-Software-Platform/BHSP Logo.svg" class="portfolio-card-thumbnail" />

                        <figcaption class="portfolio-card-text">
                            <h2 class="portfolio-card-title">Blue Husky Software Platform</h2>
                            <p class="portfolio-card-description">A platform of modular code and concepts upon which my personal sofware is written</p>
                        </figcaption>
                    </figure>
                </a>
            </li>
            <li>
                <a href="https://github.com/BlueHuskyStudios/Pixel-Art-Resizer/releases" target="_blank" class="portfolio-card   big low-emphasis button">
                    <figure>
                        <img src="https://raw.githubusercontent.com/BlueHuskyStudios/Pixel-Art-Resizer/master/Pixel%20Art%20Resizer/Resources/Assets.xcassets/AppIcon.appiconset/512%20x%20512@2x.png" class="portfolio-card-thumbnail" />

                        <figcaption class="portfolio-card-text">
                            <h2 class="portfolio-card-title">Pixel Art Resizer</h2>
                            <p class="portfolio-card-description">A simple macOS app which does a good job at resizing pixel art</p>
                        </figcaption>
                    </figure>
                </a>
            </li>
        </ol>
    </section>



    <section>
        <h1 id="open-source-contributions">Open-Source Con&shy;tri&shy;bu&shy;tions</h1>

        <aside>
            These are only projects to which I've made notable contributions, but which I don't own. There are many
            which are not listed here to which I have made small contributions. For those which I own, see
            my GitHub profiles (<a href="https://GitHub.com/BenLeggiero" target="_blank">personal</a> andor
            <a href="https://GitHub.com/BlueHuskyStudios" target="_blank">big projects</a>).
        </aside>

        <ol class="portfolio-cards   flex-row flex-wrap flex-horiz-space-around">
            <li>
                <a href="https://github.com/Kotlin/KEEP/pull/112" target="_blank" class="portfolio-card   big low-emphasis button">
                    <figure>
                        <img src="/img/Kotlin-logo.svg" class="portfolio-card-thumbnail" />

                        <figcaption class="portfolio-card-text">
                            <h2 class="portfolio-card-title">Kotlin Collection Literals <small>(Proposal)</small></h2>
                            <p class="portfolio-card-description">A proposal for how to implement collection literals in the Kotlin language</p>
                        </figcaption>
                    </figure>
                </a>
            </li>
            <li>
                <a href="https://github.com/Kotlin/KEEP/pull/81" target="_blank" class="portfolio-card   big low-emphasis button">
                    <figure>
                        <img src="/img/Kotlin-logo.svg" class="portfolio-card-thumbnail" />

                        <figcaption class="portfolio-card-text">
                            <h2 class="portfolio-card-title">Kotlin Error Handling <small>(Proposal)</small></h2>
                            <p class="portfolio-card-description">A proposal for how to natively handle errors in the Kotlin language</p>
                        </figcaption>
                    </figure>
                </a>
            </li>
            <li>
                <a href="https://github.com/christophery/slide-social-buttons" target="_blank" class="portfolio-card   big low-emphasis button">
                    <figure>
                        <img src="/img/Slide Social logo.svg" class="portfolio-card-thumbnail" />

                        <figcaption class="portfolio-card-text">
                            <h2 class="portfolio-card-title">Slide Social Buttons</h2>
                            <p class="portfolio-card-description">A set of uniform social share buttons invented by Christopher Yee in 2013 and updated by myself in 2015</p>
                        </figcaption>
                    </figure>
                </a>
            </li>
        </ol>

        <h2 id="my-open-source-projects">My Open-Source Projects</h2>

        <footer class="centered flex-row flex-wrap flex-horiz-space-around font-1-1hx">
            {% if site.author.social.github-suffix.personal %}
            <a href="https://github.com/{{ site.author.social.github-suffix.personal }}" target="_blank" class="big button medium-emphasis"><i class="fab fa-github"></i> <span>GitHub <small>(Personal)</small></span></a>
            {% endif %}
            {% if site.author.social.github-suffix.big-projects %}
            <a href="https://github.com/{{ site.author.social.github-suffix.big-projects }}" target="_blank" class="big button medium-emphasis"><i class="fab fa-github"></i> <span>GitHub <small>(Big Projects)</small></span></a>
            {% endif %}
            {% if site.author.social.github-suffix.utilities %}
            <a href="https://github.com/{{ site.author.social.github-suffix.utilities }}" target="_blank" class="big button medium-emphasis"><i class="fab fa-github"></i> <span>GitHub <small>(Utilities)</small></span></a>
            {% endif %}
        </footer>
    </section>
</main>


<footer class="centered  widest-desktop-small">
    <section class="show-print text-centered">
        {{ site.url }}/Portfolio
    </section>

    <aside class="text-center">
        Last updated <time datetime="{{ site.date.newest.web }}">{{ site.date.newest.web }}</time>
    </aside>
</footer>
