---
---

@import "variables";



:root {
    --font-family-h1: 'Questrial', 'Roboto', sans-serif;
    --font-family-title: var(--font-family-h1);
    --font-family-h2: var(--font-family-h1);
    --font-family-h3: var(--font-family-h1);
    --font-weight-h1: 400;
    --font-weight-h2: 400;
    --font-weight-h3: 400;

    --resume-theme-color: var(--gradient-background-mid-color);
    --hero-name-color: #1DEAB7;

    --gradient-background-start-color: #0D47A2;
    --gradient-background-mid-color: #311B92;
    --gradient-background-end-color: #890E4F;
}


@keyframes gradient-background-animation {
    // Inspired by https://www.gradient-animator.com by Ian Forrest ( https://www.IanForrest.me )

    0% {
        background-position: 50% 50%;
        background-size: 400% 400%;
    }

    17% {
        background-position: 100% 0%;
    }

    33% {
        background-position: 100% 100%;
    }

    50% {
        background-position: 50% 50%;
    }

    67% {
        background-position: 0% 0%;
    }

    83% {
        background-position: 0% 100%;
    }

    100% {
        background-position: 50% 50%;
        background-size: 400% 400%;
    }
}


.gradient-background,
.button.big:not(.low-emphasis):not(.medium-emphasis) {
    animation-name: gradient-background-animation;
    animation-duration: 30s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    background-attachment: fixed;
    background-color: var(--resume-theme-color);
    background-image: linear-gradient(-135deg,
        var(--gradient-background-start-color) 0%,
        var(--gradient-background-mid-color) 25%,
        var(--gradient-background-end-color) 100%);
    background-position: 0% 50%;
    color: var(--dark-theme-foreground-color);
}


.app-bar {
    &.gradient-background .title {
        color: var(--hero-name-color) !important; // scss-lint:disable ImportantRule
        font-size: 17pt;
        mix-blend-mode: screen;
    }


    &,
    * {
        color: var(--dark-theme-foreground-color) !important;
    }


    .title {
        margin: 0;
        padding: 0;
            line-height: 1.2;
            display: flex;
            align-items: center;

        .subtitle-text:not(:empty) {
            margin-left: 2em;
            margin-inline-start: 2em;
            margin-inline-end: 0;
        }
    }

    :link,
    :visited {
        color: inherit !important; // scss-lint:disable ImportantRule
        text-decoration: none;
    }
}


i.insignia {
    display: inline-block;

    width: 2.5em;
    height: 2.5em;

    background-image: url("/img/insignia.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    mix-blend-mode: screen;
    background-blend-mode: screen;
}


.placeholder {
    opacity: 0.2;
}


main {
    position: relative;

    .page {
        position: absolute;
        transition-property: transform, opacity, pointer-events;
    }

    .page:not(.presented) {
        transform: translateY(2in);
        opacity: 0;
        pointer-events: none;
    }
}


.infobox,
.specs {
    background: var(--theme-background-color-at-level-atop-parent);
}



aside {
    width: 75%;

    transition-property: width;

    opacity: 0.7;

    text-align: end;
    margin-inline-start: auto;


    @media (max-width: 4in) {
        width: 100%;
    }

    .reduce-motion & {
        transition-property: width !important; // scss-lint:disable ImportantRule
    }
}



code {
    font-family: "Fira Code", monospace;
    font-size: 90%;
}



:root {
    @include mobile {
        --button-margin: 1em 1ex;
    }
}




// MARK: - Bodge
// MARK: #61

.app-bar h1, .app-bar.short h1 {
    line-height: unset;
}
