

/* To be transferred to https://github.com/BlueHuskyStudios/stylesheets */

.app-bar .icon-button .material-icons.back-to-root-icon {
    margin-right: 1ex;
    margin-inline-end: 1ex;
    width: 1em;
    text-align: start;
}

.app-bar .icon-button,
.app-bar .back-to-root-icon {
    vertical-align: middle;
    min-width: var(--app-bar-height-auto);
    transition-property: margin,width,opacity;
    line-height: calc(var(--app-bar-height-auto) - var(--app-bar-vertical-padding));
    transition-property: margin,width,opacity;
}
.app-bar .icon-button .material-icons {
    width: 100%;
    vertical-align: middle;
    text-align: center;
}

.brightness-toggle {
    background: none;
}

.app-bar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: calc(var(--app-bar-z-index) + 1);
    height: var(--app-bar-height-auto);


    /* .flex-row */
    display: -webkit-box!important;
    display: -moz-box!important;
    display: -ms-flexbox!important;
    display: -webkit-flex!important;
    display: flex!important;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;

    /* [class^=flex-], [class*=" flex-"] */
    display: -webkit-box!important;
    display: -moz-box!important;
    display: -ms-flexbox!important;
    display: -webkit-flex!important;
    display: flex!important;

    /* .flex-row.flex-horiz-space-between */
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.app-bar-overlay .icon-button {
    height: var(--app-bar-height-auto);
    width: var(--app-bar-height-auto);
    display: block;
    /* vertical-align: middle; */
    text-align: center;
    line-height: var(--app-bar-height-auto);
}

.icon-button>* {
    vertical-align: middle;
}

.icon-button {
    color: inherit;
}

main {
    margin: 0 auto;
    padding: 0 2vw;
}

dl dt {
    margin-top: 2em;
}

dl>div {
    margin: 1em 0;
    transition-property: margin;

    } @media (max-width: 960px), (max-aspect-ratio:1/1) { dl>div {
        margin: 1ex 0;
    }
}

dl>div>dt {
    margin: 0;
}


h1 {
    margin: 3em 1em 1em;
}


h1, h2, h3, h4, h5, h6 {
    word-break: break-word;
}
h2, h3, h4, h5, h6 {
    hyphens: none;
}
h2 small {
    display: inline-block;
}


header h1,
.hero h1 {
    margin-top: 0;
    margin-top: unset;
    margin-top: initial;
}


.brightness-black [data-required-theme-type]:not([data-required-theme-type="dark"]),
.brightness-dark [data-required-theme-type]:not([data-required-theme-type="dark"]) {
    display: none;
}
.brightness-white [data-required-theme-type]:not([data-required-theme-type="light"]),
.brightness-light [data-required-theme-type]:not([data-required-theme-type="light"]) {
    display: none;
}


.invisible {
    visibility: hidden;
}

/* selecting second half of items (round up). Up to 6 */
.app-bar-overlay>*:first-child:last-child .icon-button,
.app-bar-overlay>*:nth-child(n+2):nth-last-child(-n+2) .icon-button,
.app-bar-overlay>*:nth-child(n+3):nth-last-child(-n+3) .icon-button,
.app-bar-overlay>*:nth-child(n+4):nth-last-child(-n+4) .icon-button,
.app-bar-overlay>*:nth-child(n+5):nth-last-child(-n+5) .icon-button,
.app-bar-overlay>*:nth-child(n+6):nth-last-child(-n+6) .icon-button {
    margin: auto;
}

/* selecting second half of items (rounding down). Up to 6 */
.app-bar-overlay>*:nth-child(n+1):nth-last-child(-n+2) .icon-button,
.app-bar-overlay>*:nth-child(n+2):last-child .icon-button,
.app-bar-overlay>*:nth-child(n+3):nth-last-child(-n+2) .icon-button,
.app-bar-overlay>*:nth-child(n+4):nth-last-child(-n+3) .icon-button,
.app-bar-overlay>*:nth-child(n+5):nth-last-child(-n+4) .icon-button,
.app-bar-overlay>*:nth-child(n+6):nth-last-child(-n+5) .icon-button,
.app-bar-overlay>*:nth-child(n+7):nth-last-child(-n+6) .icon-button {
    margin-right: 0;
}

.app-bar,
.app-bar-overlay {
    color: var(--dark-theme-foreground-color);
}

.shows-child-on-hover {
    position: relative;
}

.shows-child-on-hover .shown-on-parent-hover {
    transition-property: visibility;
}
.reduce-motion .shows-child-on-hover .shown-on-parent-hover {
    transition-property: visibility !important;
}

.shows-child-on-hover:not(:hover) .shown-on-parent-hover {
    visibility: hidden;
    transition-delay: 1s;
}

.shows-child-on-hover .shown-on-paren-hover[data-show-approach="unfurl-down"] {

}

.context-menu {
    --context-menu-vertical-padding: 1ex;

    background: var(--background-at-level-atop-parent);
    color: var(--theme-foreground-color);

    box-shadow: var(--box-shadow-z6);
    padding: var(--context-menu-vertical-padding) 0;
    border-radius: var(--context-menu-vertical-padding);
    list-style-type: none;
    margin: 1ex;

    transition-property: background-color, color;
}
.shows-child-on-hover .context-menu.shown-on-parent-hover {
    position: absolute;
    top: 100%;
    right: 0;
    width: max-content;

    opacity: 1;
    transform: scale(1) translate(0, 0);
    transform-origin: top right;

    transition-property: background-color, color, opacity, transform, visibility;
}
.reduce-motion .shows-child-on-hover .context-menu.shown-on-parent-hover {
    transition-property: opacity, visibility !important;
    transform: none !important;
}
.shows-child-on-hover:not(:hover) .context-menu.shown-on-parent-hover {
    opacity: 0;
    transform: scale(0.1) translate(-1in, -2in);
}
.context-menu>* {
    padding: 0;
    margin: 0;
}
.context-menu .context-menu-item {
    padding: 1ex 2ex;
}
.context-menu .context-menu-item label span+input,
.context-menu .context-menu-item label input+span,
.context-menu label.context-menu-item span+input,
.context-menu label.context-menu-item input+span {
    margin-left: 1em;
}

.context-menu .context-menu-item:hover {
    background-color: #8888;
}

.button>.fa,
.button>.fab,
.button>.fas,
.button>.material-icons {
    margin: 0 1ex;
}

.button>.fa:first-child,
.button>.fab:first-child,
.button>.fas:first-child,
.button>.material-icons:first-child {
    margin-left: 0;
}

.button>.fa:last-child,
.button>.fab:last-child,
.button>.fas:last-child,
.button>.material-icons:last-child {
    margin-right: 0;
}

.button small {
    margin: 0 1ex;
    opacity: 0.6;
}

footer aside {
    margin: 10vh 0 3vh;
}
