
            <li>
                <a href="{{ include.url }}" target="_blank" class="portfolio-card   big low-emphasis button">
                    <figure>
                        <img src="{{ include.image-url }}" class="portfolio-card-thumbnail" />

                        <figcaption class="portfolio-card-text">
                            <h2 class="portfolio-card-title">{{ include.title }}</h2>
                            <p class="portfolio-card-description">{{ include.description }}</p>
                        </figcaption>
                    </figure>
                </a>
            </li>
